<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/ic_povodyrchyk1"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.Povodyrchyk"
            tools:targetApi="31">
        <activity
                android:name=".Starunia.StaruniaCongratulationsActivity"
                android:exported="false"/>
        <activity
                android:name=".Starunia.StaruniaQuestActivity"
                android:exported="false"/>
        <activity
                android:name=".About.AboutPovodyrchykActivity"
                android:exported="false"/>
        <activity
                android:name=".About.VAIFActivity"
                android:exported="false"/>
        <activity
                android:name=".DukhovaKrynytsia.WellSpiritCongratulationsActivity"
                android:exported="false"/>
        <activity
                android:name=".DukhovaKrynytsia.WellSpiritQuestActivity"
                android:exported="false"/>
        <activity
                android:name=".Boronyavo.BoronyavoCongratulationsActivity"
                android:exported="false"/>
        <activity
                android:name=".Boronyavo.BoronyavoQuestActivity"
                android:exported="false"/>
        <activity
                android:name=".Krylos.KrylosQuestActivity"
                android:exported="false"/>
        <activity
                android:name=".Krylos.KrylosCongratulationsActivity"
                android:exported="false"/>
        <activity
                android:name=".Pohonya.PohonyaQuestActivity"
                android:exported="false"/>
        <activity
                android:name=".Pohonya.PohonyaCongratulationsActivity"
                android:exported="false"/>
        <activity
                android:name=".MainMenuActivity"
                android:exported="false"/>
        <activity
                android:name=".AboutActivity"
                android:exported="false"/>
        <activity
                android:name=".MapsListActivity"
                android:exported="false"/>
        <activity
                android:name=".SplashScreenActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>